body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: black;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}