body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: black;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.logoTitulo{
    width: 50px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
    align-items: center;
}

.banner {
    padding: 40px 0;
    color: white;
    height: 400px;
    background-image: url('imagens/bg-jelly-fish-para_outras_pags.png');
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    font-size: 36px;
    width: 25%;
    text-align: center;
}

.banner .container p span {
    font-weight: bold;
}


.social {
    background-color: white;
    padding: 50px 0;
}

.social .container {
    justify-content: space-between;
}

.card {
    width: 300px;
    text-align: center;
}

.card img {
    width: 100px;
}

.card h4 {
    font-size: 20px;
}

.footer {
    height: 100px;
    background-color: #32b9cd;
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer .container p {
    font-weight: bold;
}


.login .container{
    justify-content: center;
    background-image: url(imagens/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
    height: 75vh;
    align-items: center;
}

.cartao{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 10px;

}

.cartao h2{
    color: palevioletred;
}

.cartao {
    width: 300px;
    text-align: center;
}
.cartao label{
    color: palevioletred;
    font-weight: bold;
}

.cartao img {
    width: 100px;
}

.cartao h4 {
    font-size: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.campo input{
    width: 200px;
    padding: 7px 15px;
    border: 2px solid #32b9cd;
}


.formulario button{
    margin-top: 20px;
    padding: 20px;
    background-color: deeppink;
    color: white;
}


.header a{
    text-decoration: none;
    color: #e3b062;
}


.agora{
    font-weight: 800;

}

.cartao_cadastro{
    height: 370px;
    width: 340px;
}

